<% provide(:title, ' | Help') %>
  <h1>Fox Help page</h1>
  <p>The foxes need help learning to tweet!</p>
    <img src="http://www.globalnerdy.com/wordpress/wp-content/uploads/2009/08/chunky_bacon.jpg" alt="Where did the foxes go?">
  </p>
