<% provide(:title, 'Home') %>
  <h1>Demo App Home Page</h1>
  <p>a poignant home page
    <img src="http://mislav.uniqpath.com/poignant-guide/images/dr.cham-1.gif" alt="Where did Dr. Cham go?">
  </p>
