<div class="center hero-unit">
  <h1>Twitter</h1>
  <h2>for foxes</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <p>
  <%= image_tag "foxeswhotweet.jpg", alt:"Foxes who tweet", style: "max-width:100%;" %>
  </p>
